In [1]:
import numpy as np 
import pandas as pd

In [13]:
randn = np.random.randn(8,5)
a = np.arange(1,9,1)
df = pd.DataFrame(randn,index=a,columns=list("abcde"))

In [14]:
#打印出首尾行数，默认为5


print(df.head())
print("#"*100)
print(df.tail())

          a         b         c         d         e
1  0.003503  0.642651  1.590256 -0.655639 -1.147867
2  0.722347 -0.260091  0.058912  1.442845  0.314756
3 -0.391879  0.120998 -1.269096 -0.107704  2.749750
4 -0.148975 -1.735116  2.240421 -0.959007 -1.032138
5 -0.787131 -0.457692 -0.755089  0.236744  1.240205
####################################################################################################
          a         b         c         d         e
4 -0.148975 -1.735116  2.240421 -0.959007 -1.032138
5 -0.787131 -0.457692 -0.755089  0.236744  1.240205
6 -1.385059  0.596696 -1.389461  0.667076 -1.465169
7  0.107154  1.401067  1.843210  1.003683  0.038670
8  0.041007 -2.230005 -1.316532 -0.545745  0.094111

In [15]:
#行列转换
df.T

,1,2,3,4,5,6,7,8
a,0.003503,0.722347,-0.391879,-0.148975,-0.787131,-1.385059,0.107154,0.041007
b,0.642651,-0.260091,0.120998,-1.735116,-0.457692,0.596696,1.401067,-2.230005
c,1.590256,0.058912,-1.269096,2.240421,-0.755089,-1.389461,1.843210,-1.316532
d,-0.655639,1.442845,-0.107704,-0.959007,0.236744,0.667076,1.003683,-0.545745
e,-1.147867,0.314756,2.749750,-1.032138,1.240205,-1.465169,0.038670,0.094111

In [17]:
print(df.sort_values(by = 'b',ascending=True))
print("#"*100)
print(df.sort_values(by = ['b','c'],ascending=[True,False]))

          a         b         c         d         e
8  0.041007 -2.230005 -1.316532 -0.545745  0.094111
4 -0.148975 -1.735116  2.240421 -0.959007 -1.032138
5 -0.787131 -0.457692 -0.755089  0.236744  1.240205
2  0.722347 -0.260091  0.058912  1.442845  0.314756
3 -0.391879  0.120998 -1.269096 -0.107704  2.749750
6 -1.385059  0.596696 -1.389461  0.667076 -1.465169
1  0.003503  0.642651  1.590256 -0.655639 -1.147867
7  0.107154  1.401067  1.843210  1.003683  0.038670
####################################################################################################
          a         b         c         d         e
8  0.041007 -2.230005 -1.316532 -0.545745  0.094111
4 -0.148975 -1.735116  2.240421 -0.959007 -1.032138
5 -0.787131 -0.457692 -0.755089  0.236744  1.240205
2  0.722347 -0.260091  0.058912  1.442845  0.314756
3 -0.391879  0.120998 -1.269096 -0.107704  2.749750
6 -1.385059  0.596696 -1.389461  0.667076 -1.465169
1  0.003503  0.642651  1.590256 -0.655639 -1.147867
7  0.107154  1.401067  1.843210  1.003683  0.038670

In [ ]:
df.loc()#通过标签索引数据
df.iloc()#通过位置获取数据